{{content-editable value=model.title tagName="h1" placeholder="Input title here..." type="text" allowNewlines=false }}

<ul class="list-inline">
  {{#if model.stats}}

    {{#if model.stats.users}}
        <li class="list-inline-item">
            <i class="fa fa-user"></i> <span class="label label-info">{{model.stats.users}}</span>
        </li>
    {{/if}}
    {{#if model.stats.axons}}
        <li class="list-inline-item">
            <i class="fa fa-link"></i> <span class="label label-primary">{{model.stats.axons}}</span>
        </li>
    {{/if}}
    {{#if model.stats.views}}
        <li class="list-inline-item">
            <i class="fa fa-eye"></i> <span class="label label-success">{{model.stats.views}}</span>
        </li>
    {{/if}}

  {{else}}
    {{#if model.subscriberCount}}
        <li class="list-inline-item">
            <i class="fa fa-user"></i> <span class="label label-info">{{model.subscriberCount}}</span>
        </li>
    {{/if}}
    {{#if model.axonCount}}
        <li class="list-inline-item">
            <i class="fa fa-link"></i> <span class="label label-primary">{{model.axonCount}}</span>
        </li>
    {{/if}}
    {{#if model.views}}
        <li class="list-inline-item">
            <i class="fa fa-eye"></i> <span class="label label-success">{{model.views}}</span>
        </li>
    {{/if}}

  {{/if}}

  {{#if model.created}}
      <li class="list-inline-item">
          <i class="fa fa-calendar-minus-o"></i>
        <span class="text-muted">
          {{moment-from-now model.created}}
        </span>
      </li>
  {{/if}}
  {{#if model.type}}
      <li class="list-inline-item">
        <span class="label label-default">
          {{model.type}}
        </span>
      </li>
  {{/if}}
</ul>

{{#if hasExternalURL}}
    <div class="clearfix m-b-2">
      {{#if model.mainImage}}
          <a href="{{model.mainImage}}" target="_blank">
              <img src="{{model.mainImage}}" alt="{{model.mainImage}}" class="img-fluid"/>
          </a>
      {{else if isVideo}}
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{model.url}}"></iframe>
          </div>
      {{/if}}
        <a href="{{model.url}}" target="_blank" class="btn btn-link"><i class="fa fa-external-link-square"></i> Go to
            original website...</a>
    </div>
{{/if}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{if showingDescription 'active'}}" href="" {{action 'showDescription' true}}>
            <i class="fa fa-align-left"></i> Description
        </a>
    </li>
  {{#if hasExternalURL}}
      <li class="nav-item">
          <a class="nav-link  {{unless showingDescription 'active'}}" href="" {{action 'showDescription' false}}>
              <i class="fa fa-external-link"></i> Source
          </a>
      </li>
  {{/if}}
</ul>

<div class="m-a-1 text-muted">
  {{#if showingDescription}}
    {{#if model.summary}}
      {{content-editable value=model.summary  placeholder="Edit description..." type="text"}}
    {{else}}
      {{content-editable value=model.description  placeholder="Edit description..." type="text"}}
    {{/if}}

  {{else}}
    {{#if hasExternalURL}}
        <a href="{{model.url}}" class="text-success" target="_blank">
          {{model.url}}
        </a>
    {{/if}}
  {{/if}}
</div>

{{yield}}
