{{#if isRSS}}
    <h4>RSS Feed</h4>

    {{#each rssFeed as |rssFeedItem|}}
        <div class="media">
            <div class="media-left">
                <img class="media-object" width="100" src="{{rssFeedItem.image}}">
            </div>

            <div class="media-body">
                <h4 class="media-heading ">{{rssFeedItem.title}}</h4>

                <p>{{{rssFeedItem.text}}}</p>
                <ul class="list-inline pull-left">
                    <li><span class="text-muted">Published:</span> {{moment-to-now rssFeedItem.date}}</li>
                </ul>
            </div>
        </div>
    {{/each}}

{{/if}}




{{yield}}
