<div class="media-left">
    <a href="{{item.url}}" target="_blank">
        <img class="media-object feed-item-image"
             src="{{if item.image item.image 'https://www.livarava.com/static/livarava/img/neurons/link.png'}}"
             alt="{{item.title}}"/>
    </a>
</div>

<div class="media-body">
    <h5 class="media-heading ">
        <a href="{{item.url}}" target="_blank">{{{title}}}</a>
    </h5>

    <div class="m-b-1">
      {{#if expanded}}
        {{{text}}}
          <div><a href="" {{action "toggleText"}}>...Less</a></div>
      {{else}}
        {{{truncate text length=150}}}
          <div><a href="" {{action "toggleText"}}>Read more</a></div>

      {{/if}}
    </div>

    <button class="btn btn-secondary btn-sm pull-sm-right" disabled
            title="Create new neuron" {{action "onNeuronIt" item}}>Neuron it!
    </button>
    <ul class="list-inline">
        <li class="list-inline-item text-muted" title="Published"><i
                class="fa fa-calendar-check-o"></i> {{moment-format item.date 'DD.MM.YYYY'}} </li>
        <li class="list-inline-item"></li>
    </ul>

</div>