{{content-editable value=model.title tagName="h1" placeholder="Input title here..." type="text" allowNewlines=false }}

<ul class="list-inline">
    <li class="list-inline-item">
        <i class="fa fa-user"></i>
        <span class="label label-info">{{model.stats.users}}</span>
    </li>
    <li class="list-inline-item">
        <i class="fa fa-link"></i>
        <span class="label label-primary">{{model.stats.axons}}</span>
    </li>
    <li class="list-inline-item">
        <i class="fa fa-eye"></i>
        <span class="label label-success">{{model.stats.views}}</span>
    </li>
</ul>

{{#if hasExternalURL}}
    <div class="clearfix m-b-2">
      {{#if isImage}}
          <a href="model.image" target="_blank">
              <img src="{{model.image}}" alt="{{model.title}}" class="img-fluid"/>
          </a>
      {{else if isVideo}}
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{model.url}}"></iframe>
          </div>
      {{/if}}
        <a href="{{model.url}}" target="_blank" class="btn btn-link"><i class="fa fa-external-link-square"></i> Go to original website...</a>
    </div>
{{/if}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{if showingDescription 'active'}}" href="" {{action 'showDescription' true}}>
            <i class="fa fa-align-left"></i> Description
        </a>
    </li>
  {{#if hasExternalURL}}
      <li class="nav-item">
          <a class="nav-link  {{unless showingDescription 'active'}}" href="" {{action 'showDescription' false}}>
              <i class="fa fa-external-link"></i> Source
          </a>
      </li>
  {{/if}}
</ul>

<div class="m-a-1 text-muted">
  {{#if showingDescription}}
    {{content-editable value=model.description  placeholder="Edit description..." type="text"}}
  {{else}}
    {{#if hasExternalURL}}
        <a href="{{model.url}}" class="text-success" target="_blank">
          {{model.url}}
        </a>
    {{/if}}
  {{/if}}
</div>

{{yield}}
