<h4>Axons - connected neurons</h4>

{{#each model.connections as |neuron|}}
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="{{neuron.image}}" alt="{{neuron.header}}" width="60">
        </div>

        <div class="media-body">
            <h4 class="media-heading">{{neuron.header}}</h4>
            <ul class="list-inline pull-left">
                <li><span class="text-muted">Added:</span> {{moment-to-now neuron.created}}</li>
            </ul>
        </div>
    </div>
{{/each}}

{{yield}}
