<h4>RSS Feed</h4>

{{#each visibleItems as |rssFeedItem|}}
    <div class="media">
        <div class="media-left">
            <a href="{{rssFeedItem.url}}" target="_blank">
                <img class="media-object feed-item-image" src="{{rssFeedItem.image}}" alt="{{rssFeedItem.title}}"/>
            </a>
        </div>

        <div class="media-body">
            <h5 class="media-heading ">
                <a href="{{rssFeedItem.url}}" target="_blank">{{rssFeedItem.title}}
                </a>
            </h5>

            <button class="btn btn-secondary btn-sm pull-sm-right"
                    title="Create new neuron" {{action "onNeuronIt" rssFeedItem}}>Neuron it!
            </button>
            <ul class="list-inline">
                <li class="list-inline-item"><span
                        class="text-muted">Published:</span> {{moment-from-now rssFeedItem.date}}</li>
                <li class="list-inline-item"></li>
            </ul>

        </div>
    </div>
{{/each}}
{{#if hasMore}}
    <div class="m-t-2">
        <button class="btn btn-primary center-block" {{action "showMore"}}>More</button>
    </div>
{{/if}}


{{yield}}
