<div class="clearfix">
    <div class="btn-group pull-sm-right">
      {{#if hasSpecificInfo}}
          <button class="btn  {{if showingConnections 'btn-info-outline' 'btn-info' }}"
                  disabled={{unless showingConnections true}} {{action "showInfo"}}>
              <i class="fa fa-folder-open"></i>
              Overview
          </button>
          <button class="btn {{unless showingConnections 'btn-info-outline' 'btn-info'}}"
                  disabled={{showingConnections}} {{action "showConnections"}}>
              <i class="fa fa-link"></i>
              Connections
          </button>
      {{/if}}
    </div>
</div>

<hr>
{{#liquid-if showingConnections class="neuron-additional-info-animation"}}
  {{#neuron-connections model=model}}
      <h4>Axons - connected neurons</h4>
  {{/neuron-connections}}
{{else if hasSpecificInfo}}
  {{#if isRSS}}
    {{neuron-rss model=model}}
  {{/if}}
{{/liquid-if}}


{{#right-panel}}
  {{#if showingConnections}}
      {{neuron-connections-menu model=model}}
  {{else}}
    {{neuron-specific-menu}}
  {{/if}}
{{/right-panel}}


{{yield}}
