<div class="clearfix">
    <div class="btn-group pull-sm-right">
      {{#if hasSpecificInfo}}
          <button class="btn  {{unless showingInfo 'btn-info-outline' 'btn-info' }}"
                  disabled={{showingInfo}} {{action "show" "info"}}>
              <i class="fa fa-folder-open"></i>
              Overview
          </button>
      {{/if}}
        <button class="btn {{unless showingComments 'btn-info-outline' 'btn-info'}}"
                disabled={{showingComments}} {{action "show" "comments"}}>
            <i class="fa fa-comment"></i>
            Comments
        </button>
        <button class="btn {{unless showingConnections 'btn-info-outline' 'btn-info'}}"
                disabled={{showingConnections}} {{action "show" "connections"}}>
            <i class="fa fa-link"></i>
            Connections
        </button>

    </div>
</div>

<hr>
{{#if showingConnections class="neuron-additional-info-animation"}}
  {{#neuron-connections model=model}}
      <h4>Axons - connected neurons</h4>
  {{/neuron-connections}}
{{else if showingComments}}
   {{neuron-comments model=model}}
{{else if showingInfo}}
  {{#if isRSS}}
    {{neuron-rss model=model}}
  {{/if}}
{{/if}}


{{#right-panel}}
  {{#if showingConnections}}
    {{neuron-connections-menu model=model}}
  {{else}}
    {{neuron-specific-menu}}
  {{/if}}
{{/right-panel}}


{{yield}}
