<div class="media-left">
    <a href="{{item.url}}" target="_blank">
        <img class="media-object feed-item-image" src="{{item.image}}" alt="{{item.title}}"/>
    </a>
</div>

<div class="media-body">
    <h5 class="media-heading ">
        <a href="{{item.url}}" target="_blank">{{{item.title}}}</a>
    </h5>

    <p>
      {{#if expanded}}
        {{{item.text}}}
        <br>
          <a href="" {{action "toggleText"}}>Less...</a>
      {{else}}
        {{{truncate item.text length=200 omission=''}}}
          <br>
          <a href="" {{action "toggleText"}}>Read more...</a>
      {{/if}}

    </p>

    <button class="btn btn-secondary btn-sm pull-sm-right" disabled
            title="Create new neuron" {{action "onNeuronIt" item}}>Neuron it!
    </button>
    <ul class="list-inline">
        <li class="list-inline-item text-muted" title="Published"><i
                class="fa fa-calendar-check-o"></i> {{moment-from-now item.date}}</li>
        <li class="list-inline-item"></li>
    </ul>

</div>