<div class="media">
    <div class="media-left">
      {{#if neuron.id}}
        {{#link-to "search" neuron.id}}
            <img class="media-object feed-item-image" src="{{neuron.image}}" alt="{{neuron.title}}" width="60">
        {{/link-to}}
      {{else}}
          <img class="media-object feed-item-image" src="{{neuron.image}}" alt="{{neuron.title}}" width="60">
      {{/if}}

    </div>

    <div class="media-body">
      {{#if neuron.id}}
          <h5 class="media-heading">
            {{#link-to "search" neuron.id}}{{neuron.title}}{{/link-to}}
          </h5>
      {{else}}
        {{#if isAudio}}
          <audio src={{neuron.url}} type="audio/mpeg" controls></audio>
        {{else}}
          {{content-editable value=neuron.title tagName="h5" class="media-heading" placeholder="Write title here..." type="text" allowNewlines=false }}
        {{/if}}
      {{/if}}
      {{#if neuron.text}}
          <div>{{truncate neuron.text}}</div>
      {{/if}}
        <ul class="list-inline">
            <li><span class="text-muted">Added:</span> {{moment-to-now neuron.created}}</li>
        </ul>
    </div>
</div>