<form class="form-inline m-b-2">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-plus"></i> Add
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" {{action 'setActiveForm' 'simple'}}>Text / Link</button>
            <button class="dropdown-item" {{action 'setActiveForm' 'rss'}}>RSS Feed</button>
            <button class="dropdown-item disabled">Upload image</button>
            <button class="dropdown-item disabled">Upload audio</button>

            <div class="dropdown-divider"></div>
            <button class="dropdown-item disabled">Post</button>
            <button class="dropdown-item disabled">Project</button>
        </div>
    </div>
</form>

{{#if isSimpleFormActive}}
    <form {{action 'addSimpleNeuron'}}>
        <fieldset class="form-group">
            <label>Write or paste text or url</label>
          {{input type="text" class="form-control" placeholder="Enter some text" required="required" value=simpleNeuronRawData autofocus="true"}}
            <small class="text-muted">If you want to add image or video from web - just paste link here</small>
        </fieldset>

      {{#if newSimpleNeuron}}
        {{neuron-list-item neuron=newSimpleNeuron}}
      {{/if}}

        <input type="submit" class="btn btn-primary {{unless newSimpleNeuron 'disabled'}}" value="Add"/>
        <button class="btn btn-secondary" {{action 'setActiveForm' null}}>Cancel</button>
    </form>
{{/if}}

{{#if isRSSFormActive}}
    <form {{action 'addRSSNeuron'}}>
        <fieldset class="form-group {{if rssNeuronRawData (unless newRSSNeuron 'has-warning' 'has-success')}}">
            <label> Write or paste RSS url </label>
          {{input type="url" class="form-control" placeholder="Enter rss url" required="required" value=rssNeuronRawData autofocus="true"}}
            <small class="text-muted">Only links allowed here</small>
        </fieldset>

      {{#if newRSSNeuron}}
        {{neuron-list-item neuron=newRSSNeuron}}
      {{/if}}

        <input type="submit" class="btn btn-primary {{unless newRSSNeuron 'disabled'}}" value="Add RSS"/>
        <button class="btn btn-secondary" {{action 'setActiveForm' null}}>Cancel</button>
    </form>
{{/if}}



{{yield}}
