<div class="clearfix">
    <div class="btn-group pull-sm-right">
        <button class="btn  {{if showingConnections 'btn-info-outline' 'btn-info' }}"
                disabled={{unless showingConnections true}} {{action "showInfo"}}>Info
        </button>
        <button class="btn {{unless showingConnections 'btn-info-outline' 'btn-info'}}"
                disabled={{showingConnections}} {{action "showConnections"}}>
            Axons
        </button>
    </div>
</div>

<hr>
{{#liquid-if showingConnections class="neuron-additional-info-animation"}}
  {{neuron-connections model=model}}
{{else}}
  {{neuron-specific-info model=model}}
{{/liquid-if}}


{{#right-panel}}
  {{#if showingConnections}}
      <p>Connections' context menu.</p>
  {{else}}
    {{neuron-specific-menu}}
  {{/if}}

{{/right-panel}}


{{yield}}
