<div class="clearfix">
    <div class="btn-group pull-sm-right">
        <button class="btn btn-info {{unless showingConnections 'btn-info-outline'}}" disabled={{unless showingConnections true}} {{action "showInfo"}}>Info</button>
        <button class="btn btn-info {{if showingConnections 'btn-info-outline'}}" disabled={{showingConnections}} {{action "showConnections"}}>
            Axons
        </button>
    </div>
</div>

<hr>
{{#liquid-if showingConnections class="neuron-additional-info-animation"}}
  {{neuron-connections model=model}}
{{else}}
  {{neuron-specific-info model=model}}
{{/liquid-if}}


{{yield}}
