{{content-editable value=model.title tagName="h1" placeholder="Input title here..." type="text" allowNewlines=false }}

<ul class="list-inline">
    <li class="list-inline-item">Users: <span class="label label-info">{{model.stats.users}}</span></li>
    <li class="list-inline-item">Axons: <span class="label label-primary">{{model.stats.axons}}</span></li>
    <li class="list-inline-item">Views: <span class="label label-success">{{model.stats.views}}</span></li>
</ul>

{{#if hasExternalURL}}
    <div class="clearfix m-b-2">
      {{#if isImage}}
          <a href="model.image" target="_blank">
              <img src="{{model.image}}" alt="{{model.title}}" class="img-fluid"/>
          </a>
      {{/if}}
    </div>
{{/if}}

{{#if isRSS}}
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">URL:</label>

            <a class="form-control-static" href="{{model.url}}" target="_blank">
              {{model.url}}
            </a>
        </div>
    </form>
{{/if}}

<div class="m-t-1 m-b-2 text-muted">
  {{content-editable value=model.description  placeholder="Edit description..." type="text"}}
</div>

{{yield}}
