{{#if editing}}

  {{#if multiline}}
    {{textarea value=(mut (get model field)) class="form-control" focus-out="save" autofocus="autofocus"}}
  {{else}}
    {{input value=(mut (get model field)) class="form-control" focus-out="save" autofocus="autofocus"}}
  {{/if}}

{{else}}

  {{#if (get model field)}}
      <span {{action 'edit'}}>{{get model field}}</span>
  {{else}}
      <a {{action 'edit'}}>Edit {{field}}...</a>
  {{/if}}

{{/if}}
